@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fae8ff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  height: 100%;
}
.container {
  background-color: #fff;
  padding: 24px 32px;
  width: 600px;
  border-radius: 4px;
}
.container h1 {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 32px;
  line-height: 32px;
  color: #0f172a;
  margin-bottom: 32px;
}
.clear-btn,
.refresh-btn {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 1px;
  background-color: #d946ef;
  color: #fff;
  padding: 6px 0px;
  width: 100%;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.refresh-btn {
  background-color: rgb(35, 159, 201);
}
